.react-split {
  flex: 1;
  height: 100%;
  position: relative;
  width: 100%;
}

.react-split__pane {
  height: 100%;
  position: absolute;
  white-space: normal;
  width: 100%;
  overflow-y: scroll;
}

.react-split__sash {
  height: 100%;
  position: absolute;
  top: 0;
  transition: background-color 0.1s;
  width: 100%;
  z-index: 2;
}

.react-split__sash--disabled {
  pointer-events: none;
}

.react-split__sash--vertical {
  cursor: col-resize;
  background-color: black;
}

.react-split__sash--horizontal {
  cursor: row-resize;
  background-color: black;
}

.st0 {
  fill: none;
  stroke: #000;
  stroke-width: 18;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.st1 {
  stroke: #000000;
  stroke-width: 10;
  stroke-miterlimit: 10;
}

.st2 {
  fill: none;
  stroke: #000000;
  stroke-width: 24;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.st3 {
  stroke: #000000;
  stroke-width: 1.8561;
  stroke-miterlimit: 10;
}

.path1 {
  fill: #ffffff;
}
